.patientBox {
    width: 15vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

.imgBox{
    width: 10vw;
    height: auto;
    margin: auto;
}

.patientNom {
    font-size: 2rem;
}

.patientAvis {
    font-size: 1rem;
}